---
layout: default
title: Static Web Apps - A Field Guide
---

<div id="home">
  <p class="lead site-intro"><b>Static Web Applications</b> are architected to run
    independently of the need for server-side dynamic processing. Static web
    architecture can ease common web development headaches and offers many great benefits. This
    site is designed to introduce newcomers to the world of static web applications and
    offer solutions to common challenges encountered while building them. Welcome!</p>
  
  {% include subscribe.html %}
  
  <ul class="post-list">
    {% for chapter in site.data.chapters %}
    <li><a href="/articles/{{ chapter.slug }}" class="post-link">
      <span class="title">{{ chapter.title }} &nbsp;<i class="fa fa-angle-right"></i></span>
      <span class="description">{{ chapter.description }}</span>
    </a></li>
    {% endfor %}
    <li class="coming-soon"><a class="post-link">
      <span class="title">Parts of the Whole</span>
      <span class="description">Take a high-level survey of the different types of tools and services that go into the construction of static web apps.</span>
    </a></li>
  </ul>
</div>