<div class="sponsor">
  <p class="headline"><a href="http://www.divshot.com/" target="_blank">Put Static Apps into Practice with Divshot!</b></a> <span class="badge">Sponsored</span></p>
  <p>We're trying to build the world's best platform for hosting static web apps. CDN fast with HTML5 pushState support and even JavaScript environment variables. The fastest way to get started?</p>
  <p><code>npm install -g divshot-cli && divshot login</code></p>
</div>

<p>Want to be featured here? <a href="mailto:hello@staticapps.org">Email us.</a></p>