<form action="http://divshot.us4.list-manage1.com/subscribe/post?u=b2f916c997005ec8cbb1b1726&amp;id=d3f3db222d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe" target="_blank" novalidate>
  <label for="mce-EMAIL">{% if page.prev %}You've reached the end (for now). {% endif %}Subscribe for fresh content every week!</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="yourname@yourprovider.com">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b2f916c997005ec8cbb1b1726_d3f3db222d" value=""></div>
    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
</form>