<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
      
        {% stylesheet app %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="//use.typekit.net/esp3rax.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="shortcut icon" href="favicon.ico?v=2">
    </head>
    <body>
      <header id="top" class="top-banner">
        <div class="headings">
          <h3><a href="/">A Field Guide To</a></h3>
          <h2><a href="/">Static Apps</a></h2>
        </div>
        <div class="logo-icon">
          <a href="/"><i class="fa fa-bolt fa-3x"></i></a>
          <div class="diamond"></div>
        </div>
      </header>

      <div class="share-buttons">
        <div class="share-btn">
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="share-btn">
          <iframe src="http://ghbtns.com/github-btn.html?user=staticapps&repo=staticapps.org&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="140" height="30"></iframe>
        </div>
      </div>

      <section id="content" class="content-main">
        {{ content }}
        
        <footer class="showdown-callout">Want to get your feet wet with static app development? You should compete in the <a href="http://www.staticshowdown.com/" target="_blank">Static Showdown</a> Feb. 8-9!</footer>
      </section>
      
      <footer id="bottom" class="credits">
        Copyright &copy; 2014 StaticApps.org. Some rights reserved (<a href="https://github.com/staticapps/staticapps.org">see GitHub</a>). Brought to you by <a href="http://www.divshot.com/" target="_blank">Divshot</a>
      </footer>
      {% javascript app %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-30884255-8', 'staticapps.org');
        ga('send', 'pageview');
      </script>
    </body>
</html>
