---
layout: default
---
<h1 class="post-title">{% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h1>

<article class="post">
{{ content }}
</article>

<nav class="chapter-nav">
  {% if page.prev %}<a class="nav nav-prev" href="{{page.prev.url}}">&nbsp;{{page.prev.label}}</a>{% endif %}
  <a class="nav nav-toc" href="/" title="Table of Contents"><i class="fa fa-book"></i></a>
  {% if page.next %}<a class="nav nav-next" href="{{page.next.url}}">{{page.next.label}}&nbsp;</a>{% endif %}
</nav>

{% include sponsor.html %}

{% unless page.next %}{% include subscribe.html %}{% endunless %}